<div class="header">
  <div class="header_top_right">
  <% unless user_signed_in? %>
    <ul>
      <li><%= link_to "Sign Up", new_user_registration_path %></li> |
      <li><%= link_to "Log In", new_user_session_path %></li> |
      <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
    </ul>
  <% else %>
    <ul><li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li></ul>
  <% end %>
  </div>
  <div class="clear"></div>
    <div class="header-bot">
      <div class="logo">
        <a href=<%= home_path %>><img src="<%=root_path%>images/logo.png" alt=""/></a>
      </div>
      <ul class="follow_icon">
        <li><a href="#"><img src="<%=root_path%>images/fb.png" alt=""></a></li>
        <li><a href="#"><img src="<%=root_path%>images/googleplus.png" alt=""></a></li>
        <li><a href="#"><img src="<%=root_path%>images/tw.png" alt=""></a></li>
        <li><a href="#"><img src="<%=root_path%>images/pinterest.png" alt=""></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  <div class="search-bar">
    <input type="text" class="textbox" value=" Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
    <input name="searchsubmit" type="image" src="<%=root_path%>images/search-icon.png" value="Go" id="searchsubmit" class="btn">
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>